.layout {
    @apply flex flex-row items-center justify-center space-x-2 w-fit rounded-full px-7 py-4 bg-[#FF8E5E] text-black;
    .name {
        font-family: 'InterBold', 'sans-serif';
        font-size: 18px;
        line-height: 22px;
    }
}