.layout {
    @apply flex flex-row items-center justify-center space-x-2 w-fit rounded-full px-6 py-2 bg-white text-black;
    .name {
        font-family: 'InterBold', 'sans-serif';
        font-size: 18px;
        line-height: 22px;
    }
}