.layout {
    @apply flex items-center justify-center fixed w-full z-50;
  }
  .navbarlayout {
    @apply w-full py-8 px-28 flex flex-row justify-between items-center z-50 bg-transparent;
    box-shadow: 0px 8px 12px transparent;
    .navbarMenu {
      @apply flex flex-row space-x-9;
  
      .menu {
        @apply cursor-pointer;
      }
    }
  }
  
  .navScrolled {
    background-color: #0F172A !important;
    animation: rtl 300ms ease-out forwards;
  }
  
  @keyframes rtl {
    from {
      opacity: 0;
      transform: translateY(-5rem);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  