.layout {
    @apply flex items-center justify-center fixed w-full z-50;
    animation: btt 300ms ease-out forwards;
  }
  .navbarlayout {
    @apply w-full py-3 px-28 flex flex-row justify-between items-center z-50;
    box-shadow: 0px 8px 12px transparent;
    .navbarMenu {
      @apply flex flex-row space-x-3 items-center;
  
      .menu {
        @apply cursor-pointer;
      }
      .cvDownload {
        @apply cursor-pointer border-2 py-1 px-3 rounded-full;
      }
    }
  }
  
  .navScrolled {
    @apply border-b-4;
    border-color: rgba(255, 255, 255, 0.02);
    background-color: #1E1E1E !important;
    animation: btt 300ms ease-out forwards;
  }
  
  @keyframes btt {
    from {
      opacity: 0;
      transform: translateY(-1rem);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  