.layout {
  @apply overflow-hidden h-screen flex justify-center items-center drop-shadow-md;
  z-index: 1;

  .heroLayout {
    @apply flex flex-row justify-between items-center w-full;
    max-width: 1200px;

    .hero {
      .first {
        color: rgba(255, 255, 255, 0.5);
      }
      .name {
        background-image: linear-gradient(60deg, #FF8E5E, #FFC5B2, #FF8E5E,#fff);
        background-clip: text;
        color: transparent;
      }
      .workList {
        @apply flex flex-row;

        .listDescription {
          position: relative;
        }
        
        .listDescription::after {
          content: "";
          position: relative;
          right: -5px;
          width: 1px;
          height: 90%;
          animation: blink 0.5s infinite ease;
        }
        
        @keyframes blink {
          0% {
            opacity: 0;
          }
          100% {
            opacity: 1;
          }
        }
      }
      .work {
        background-image: linear-gradient(60deg, #FFC5B2, #FF8E5E,);
        background-clip: text;
        color: transparent;
      }
    }
  }
}
