.layout {
  @apply overflow-hidden h-screen flex justify-center items-center;

  .heroLayout {
    @apply flex flex-row justify-between items-center p-4 w-full max-w-7xl;

    .hero {
      .first {
        color: rgba(255, 255, 255, 0.5);
      }
      .name {
        background-image: linear-gradient(60deg, #FF8E5E, #FFC5B2, #FF8E5E,#fff);
        background-clip: text;
        color: transparent;
      }
      .workList {
        @apply flex flex-col;
        @media (min-width: 1024px) {
          @apply flex flex-row;
        }
      }
      .work {
        background-image: linear-gradient(60deg, #FF8E5E, #FFC5B2, #FF8E5E,);
        background-clip: text;
        color: transparent;
      }
    }
  }
}
