.layout {
    @apply overflow-hidden w-screen;
    z-index: 1;
    .skills {
        @apply bg-[#19191D];
        .skillLayout {
            @apply mx-auto p-16;
            max-width: 1200px;

        }
    }
   .projlayout {
        @apply pt-16 pb-52;
        max-width: 1200px;
    }
}