.layout {
    @apply overflow-hidden bg-[#0F172A];
    z-index: 1;
    .aboutLayout {
        .about {
            @apply flex flex-col flex-wrap bg-[#0F172A] w-full py-4;
            .title {
                @apply mb-8;
            }
           
            @media (min-width: 1024px) {
                @apply py-32 pl-0;
            }
        }
        .lists {
            @apply flex flex-col space-y-6 pb-3;
            .rod {
                @apply w-5;
            }
            li {
                @apply flex flex-row space-x-2;
            }
        }
        .techs {
            @apply pt-16;
            @media (min-width: 1024px) {
                @apply pt-32;
            }

            .skills {
                @apply flex flex-row flex-wrap justify-center pt-4 ml-0;
                @media (min-width: 1024px) {
                    @apply -ml-4;
                }
            }
            .box {
                @apply bg-[#1E293B] p-6 m-2 rounded-xl transition-all ease-linear duration-200 h-fit w-fit space-y-1;
                transform: scale(1);
                &:hover {
                    @apply transition-all ease-linear duration-200;
                    transform: scale(1.1);
                }

                @media (min-width: 1024px) {
                    @apply p-8 m-4;
                }
            }
        }
    }
}